*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #cfdee6;
    /* background-image:url(../newimg/bg33.png) ; */
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 auto;
    height: 10vh;
    background-color: #FEFEFE;
    border: 1px  rgb(1, 0, 0);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 997;
    position: sticky;
}
nav a{
    display: flex;
    align-items: center;
    margin-left: 5%;
    text-decoration: none;
    font-family: Roboto Slab;
    font-size: 20px;
    color: black;
}
.signup{
    margin-right: 50px;
    
    
    width: 100px;
    height: 5vh;
    margin-top: 18px;
    
    
}
.form{
    margin-left: -50%;
    font-size: 25px;
    padding: 50px 0;
    text-align: center; 
    width: 200%;
    height: 30vh;
    border: 1px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    
}
.analyze{
    margin-top: -10%;
    margin-left: 120%;
    border: 3px solid rgb(0, 0, 0);
    width: 25%;
    border-radius:10px;
}
.analyze-btn{
    border-radius: 10px;
    background-color: #EDDB92;
    width: 100%;
    font-family: DM Serif Display;
    font-size: 25px;
    border: none;
    

}

.analyze-btn:hover{
    background-color: #45a049;
}

.emotions{
width: 70%;
margin-left: 15%;
margin-top: 10px;
}
.col{
    color: rgb(0, 0, 0);
    font-family: DM Serif Display;
    font-size: 25px;

}
.col img{
    width: 120px;
    height: 110px;
    margin-left: -10px;
}
.col-md-4{
    width: 100%;
    background-color: #FEFEFE;
    border: 1px solid white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    height: 10vh;
    display:flex;
    align-items: center; 
    justify-content: flex-start;
    border-radius: 10px;
    margin-top: -30px;
    margin-bottom: 13px;
    
}
.col-md-4 h3{
    font-family: DM Serif Display;
    font-size: 30px;
    display: flexbox;
    
}
.col p{
    
    font-family: DM Serif Display;
    font-size: 30px;
}
.downloadd{
    font-size:30px;
}
footer{
    bottom: 0;
    height: 5.5vh;
    text-align: center;
    background-color: #cedee700;
}







@media screen and (max-width: 1200px){
.profile{
    margin-left: 45%;
}
nav img{
    margin-left: 0;
    margin-right: 0;
    margin-top: -103px;
    height: 200px;
    width: 200px;
}
.input-option{
    margin-left: 61%;
    background-color: #abd1c6;
    margin-bottom: 5px;
    border-radius: 5px;
}
.analyze-btn{
    margin-left: 62%;
    background-color: #F9AB55;
    margin-top: 5px;
    border-radius: 5px;
    width: 38%;
    font-family: DM Serif Display;
    font-size: 20px;

}
.analyze-btn input{
    color: white;
}
.emotions{
    width: 70%;
    margin-left: 15%;
    margin-top: 10px;
    }
    .col{
        color: white;
        font-weight: bolder;
        font-size: 18px;
        margin-left: 0;
        
    }
    .col img{
        width: 33px;
        height: 60;
        width: 50px;
    }
    .col-md-4{
        text-align: center;
        background-color: #abd1c6;
        width: 70%;
        border-radius: 10px;
        }
    
    .col p{
        width: 33px;
        height: 60;
        margin-left: 8px;
        font-family: DM Serif Display;
        font-size: 25px;
        
    }

    footer{
        text-align: center;
        height: 7vh;
        background-color: #abd1c6;
        margin-top: 103px;
        clear: both; 
        }
        
}




@media screen and (max-width: 600px) {
    nav a{
        
        margin-left: 0px;
        font-size: 15px;
    }
    nav img{
        margin-left: 0;
        margin-right: 0;
    }
    .profile{
        margin-left:15px;
        font-size: 25px;
    }
    .input-option{
        margin-left: 72%;
        background-color: #abd1c6;
        margin-bottom: 5px;
        border-radius: 5px; 
    }
    .analyze-btn{
        margin-left: 72%;
        background-color: #F9AB55;
        margin-top: 5px;
        border-radius: 5px;
        width: 28%;
        font-family: DM Serif Display;
        font-size: 20px;
    
    }
    .emotions{
        width: 70%;
        margin-top: 10px;
        }
        .col{
            color: white;
            font-weight: bolder;
            font-size: 12px;
            margin-left: 0;
        }
        .col img{
            width: 90%;
            height: 100%;
            
        }
        .col p{
            width: 33px;
            height: 60;
            font-size: 15px;
            margin-left: -10px;
            font-family: DM Serif Display;

        }
        .col-md-4{
            text-align: center;
            background-color: #abd1c6;
            width: 50%;
            border-radius: 10px;
        }
        .col-md-4 h3{
            font-family: DM Serif Display;
            font-size: 20px;
            display: flexbox;
            }

        footer{
            text-align: center;
            height: 7vh;
            background-color: #abd1c6;
            margin-top: 75px;
        }

}

