* {
    margin: 0;
    padding: 0;
   
    
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('../img/bg2.jpg') no-repeat;
    background-size: cover;
}
.x{
    color:red;
    text-align: center;
}
.form-box {
    position: relative;
    width: 120%; /* Adjusted width to 80% of the parent container */
    max-width: 500px; /* Optional: Set a maximum width if needed */
    height: 500px; /* Adjusted height to 300px */
    background: transparent;
    border: 2px solid rgba(225, 225, 225, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    color: white;
}
h2 {
    font-size: 5em;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.inputbox {
    position: relative;
    margin: 30px 0;
    width: 100%; /* Adjusted width to 100% */
    max-width: 310px; /* Optional: Set a maximum width if needed */
    color: pink;
}

.inputbox label {
    position: absolute;
    top: 15px;
    left: 5px;
    color: white;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}


.inputbox input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: 2px solid rgba(225, 225, 225, 0.5);
    border-radius: 5px;
    outline: none;
    font-size: 25px;
    padding: 5px 35px 5px 10px;
    color: #fff;
    box-sizing: border-box;
    transition: border-color 0.5s;
}

input:focus ~ label,
input:valid ~ label {
    top: -20px;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-top: 20px;
}
/* #header {
    background: #fff;
    padding:3px 0; 
} */

h3{
   
    font-size: 40px;
    color: rgb(5, 5, 5);
    font-family: Palace Script MT;
}
