* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "segoe ui", verdana, helvetica, arial, sans-serif;
  font-size: 16px;
  text-decoration: none;
  transition: all 500ms ease; 
}

body {
 background-image:url("../img/bg.png");
    background-size: cover; 
    background-repeat: no-repeat; 
}

.row {
  background-color: #4AAA97	;
  color: #fff;
  text-align: center;
  padding: 2em 2em 0.5em;
  width: 90%;
  margin: 2em	auto ;
  height: 500px;
  border-radius: 5px;
  -ms-transform: translateY(30%);
  transform: translateY(30%);
}
  .row h1 {
    font-size: 2.5em; }
  .row .form-group {
    margin: 0.5em 0; }
    .row .form-group label {
      display: block;
      color: #fff;
      text-align: left;
      font-weight: 600; }
    .row .form-group input, .row .form-group button {
      display: block;
      padding: 0.5em 0;
      width: 100%;
      margin-top: 1em;
      margin-bottom: 0.5em;
      background-color: inherit;
      border: none;
      border-bottom: 1px solid #555;
      color: #eee; }
      .row .form-group input:focus, .row .form-group button:focus {
        background-color: #fff;
        color: #000;
        border: none;
        padding: 1em 0.5em; animation: pulse 1s infinite ease;}
    .row .form-group button {
      border: 1px solid #fff;
      border-radius: 3px;
      outline: none;
      -moz-user-select: none;
      user-select: none;
      color: #333;
      font-weight: 800;
      cursor: pointer;
      margin-top: 2em;
      padding: 1em; }
      .row .form-group button:hover, .row .form-group button:focus {
        background-color: #fff; }
      .row .form-group button.is-loading::after {
        animation: spinner 500ms infinite linear;
        content: "";
        position: absolute;
        margin-left: 2em;
        border: 2px solid #000;
        border-radius: 100%;
        border-right-color: transparent;
        border-left-color: transparent;
        height: 1em;
        width: 4%; }
  .row .footer h5 {
    margin-top: 1em; }
  .row .footer p {
    margin-top: 2em; }
    .row .footer p .symbols {
      color: #444; }
  .row .footer a {
    color: inherit;
    text-decoration: none; }

.information-text {
  color: #ddd; }

@media screen and (max-width: 320px) {
  .row {
    padding-left: 1em;
    padding-right: 1em; }
    .row h1 {
      font-size: 1.5em !important; } }
@media screen and (min-width: 900px) {
  .row {
    width: 50%; } }

/*header*/
.top header{
  background-color: white;
  transition: all 0.5s;
  z-index: 997;
  height: 80px;
  margin-top: -32px;
  position: relative;	
}

.top h3{
 font-size: 25px;
 font-family: Maiden Orange;
color: black;
 position: absolute;
margin-left: 130px;
padding-top:30px;
}
.top .logo img {
  max-height: 80px;
  margin-left: 50px;
position: absolute;
	
}

@media (max-width: 1200px) {
  .top .logo {
    order: 1;
  }
  .top .navmenu {
 
}
}

/* Desktop Navigation */
@media (min-width: 300px) {
  .navmenu {
    padding: 0;
  }

  .navmenu ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
	  float: right;
	  margin-right: 20px;
	  padding-top: 13px;
  }
	.navmenu ul img{
		height: 30px;
		width: auto;
	}

  .navmenu li {
    position: relative;
  }

  .navmenu a,
  .navmenu a:focus {
    color: var(--nav-color);
    padding: 18px 15px;
    font-size: 16px;
    font-family: var(--nav-font);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navmenu a i,
  .navmenu a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
  }

  .navmenu li:last-child a {
    padding-right: 0;
  }

  .navmenu li:hover>a,
  .navmenu .active,
  .navmenu .active:focus {
    color: pink;
  }

}